* {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    height: 1000px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;
    gap: 20px;
}


.header {
    grid-row: 1;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: cornflowerblue;
    color: #ffffff;
}


.border {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;
    border: medium solid #ffffff;
}

.main {
    grid-column: 2;
}

.biography {
    grid-row: 2;
}

.work-exp {
    grid-row: 3;
}

.education {
    grid-row: 4;
}

.skills {
    grid-row: 5;
}

.side-bar {
    background-color: #FFEBCD;
    grid-column: 1;
    grid-row-start: 2;
    grid-row: span 4;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.profile {
    height: 400px;
    border-radius: 50%;
}

.icon {
    height: 15px;
    width: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.year {
    width: 200px;
}

.details {
    width: 600px;
}
