* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    margin: 0;
}

header {
    background-color: cornflowerblue;
    color: #ffffff;
}

header div {
    padding: 1.25%;
    text-align: center;
}

.side-bar {
    background-color: #FFEBCD;
    width: 38%;
    padding: 5% 1%;
    float: left;
}

.profile {
    display: block;
    margin: 0 auto;
    height: 40%;
    border-radius: 50%;
}

.social h2 {
    margin: 20px 0;
}

.contact h2 {
    margin: 10px 0;
}

.side-bar > div, .container, .skills li {
    border-radius: 5px;
}

.side-bar > div {
    background-color: #b1a595;
    width: 72%;
    height: 150px;
    margin: 2.5% auto;
    padding: 2.5%;
}

.main {
    float: right;
    width: 58%;
    padding: 1%;
}

.container {
    margin: 2.5%;

}

ul {
    width:fit-content;
    padding: 0;
    margin: 16px auto;
}

.skills li, .container {
    border: cornflowerblue solid medium;
    background-color: #e8fffe;
    padding: 10px;
}

.skills li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.icon {
    height: 15px;
    width: 15px;
}

.year {
    width: 200px;
}

.details {
    width: 600px;
}
